body {
  background: #eceff1 !important;
}

.page-item.active .page-link {
  background-color: #121212 !important;
  border-color: #121212 !important;
}

.home-background {
  position: relative;
}

.home-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
}
